body{
    background-color: lightgray;
}

h1{
    font-style: oblique;
    text-align: center;
    color:red;
    text-shadow: red 3px 3px 5px;
}

#zero{
    color:red;
}

pre{
    color: blue;
}

#output{
    color:rgb(81, 55, 81);
}
.Q {
    color: red;
}